
:root {
    --primary-color: #4B8A3D;
    --secondary-color: #fa7000e0;

    --background-color: #fff;
    --text-color: #444;
    --light-text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --bold-font: 'CustomFont', "Helvetica Neue", Helvetica, Arial, sans-serif;
    --medium-font: 'MediumFont', "Helvetica Neue", Helvetica, Arial, sans-serif;
--light-font: 'LightFont', "Helvetica Neue", Helvetica, Arial, sans-serif;
--text-font: 'TextFont', "Helvetica Neue", Helvetica, Arial, sans-serif;


}


@font-face {
    font-family: 'TextFont';
    src: url('fonts/gothampro.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/gothampro_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MediumFont';
    src: url('fonts/gothampro_medium.ttf') format('truetype');
    font-weight: medium;
    font-style: medium;
}

@font-face {
    font-family: 'LightFont';
    src: url('fonts/gothampro_light.ttf') format('truetype');
    font-weight: ;
    font-style: ;
}


@font-face {
    font-family: 'BodyFont';
    src: url('fonts/gothampro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamPro/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamPro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamPro/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamPro/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamPro/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamPro/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamPro/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamPro/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamPro/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
      



.customers-section{
    display: flex;
    padding: 0px;
    align-items: center;
    gap: 0px;
    margin-top: -20px;
    overflow: visible;
    position: relative;
    padding-bottom: 150px;
}
.customers-image{
    
    max-width: 700px;
    height: 650px;

}
.customers-image img{
    width: 100%;
    max-width: 700px;
    height: 550px;
}
.customers-content {
    flex: 1;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    width: 100%;
    max-width: 1200px;
    margin-left: -200px;
    height: 550px;
    padding-top: 200px;
    padding-left: 80px;
    padding-bottom: 200px;
}

.customers-content h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #fff;
    font-family: var(--bold-font);
}

.customers-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    opacity: 0.9;
    color: #fff;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    background: ;
    color: #111;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    min-width: 150px;
    min-height: 100px;
}
@media (max-width: 768px) {
    .customers-image{
        display: none;
    }
    .customers-content{
        padding: 20px;
        margin-left: 0px;
        padding-left: 0px;
        height: fit-content;
    }
    .customers-content h2, .customers-content p{
        padding: 20px;
    }
    .customers-content h2{
        font-size: 28px;
        margin-bottom: -15px;
    }
    .logos{
        margin-bottom: -10px;
    }

}


.dots-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px; /* Adjust as needed */
    height: 100%; /* Full height */
    background-image: radial-gradient(circle, rgba(128, 128, 128, 0.5) 10%, transparent 11%);
    background-size: 25px 25px; /* This increases the gap */
    background-position: 0 0, 10px 10px;
    opacity: 0.6; /* Adjust transparency */
    pointer-events: none; /* Prevent interaction */
}



.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Full screen height */
    ; /* Dark background */
}

.video-container {
    position: relative;
    width: 80%; /* Adjust size */
    max-width: 900px;
}

.video-thumbnail {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.video-thumbnail img {
    width: 100%;
    height: 450px;
    display: block;
    border-radius: 0px; /* Optional rounded corners */
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: var(--secondary-color); /* Red Play Button */
    border: 5px solid white;
    border-radius: 50%;
    font-size: 32px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.play-button:hover {
    background-color: var(--primary-color);
}

.video-frame {
    display: none;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
}



@media (max-width: 1024px) {
    .video-container {
        width: 90%;
        margin-top: -400px;
    }
}

@media (max-width: 768px) {
    .video-container {
        width: 95%;
        margin-top: -130px;

    }

    .play-button {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
    .video-thumbnail img{
        height: 250px;
    }

    .video-frame {
        height: 350px; /* Adjust video size */
    }
}

@media (max-width: 480px) {
    .play-button {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .video-frame {
        height: 250px; /* Smaller video on mobile */
    }
}


/* General Styles */
.services-expertise {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
    overflow: visible;
    padding-top: 110px;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.tab {
    font-size: 42px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s ease;
    color: rgba(51, 51, 51, .6);
}

.tab.active {
    color: var(--secondary-color); /* Active color */
    border-bottom: 3px solid var(--secondary-color);
    font-family: var(--bold-font);
}
.tab:hover{
    color: var(--secondary-color)
}

.section-description {
    max-width: 800px;
    margin: 20px auto;
    color: #333;
    font-size: 13px;
    font-family: "GothamProRegular";
    padding-bottom: 50px;

}

/* Content Sections */
.content {
    display: none;
    margin-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.content.active {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

/* Service Box */
.service-box {
    display: flex;
    align-items: center;
    background: #FFF;
    padding: 20px;
    margin: 15px auto;
    border-radius: 0px;
    max-width: 550px;
    text-align: left;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-bottom: 35px;
}
.service-box:hover{
    border-bottom: 6px solid var(--secondary-color);
    transform: translateY(-10px);
    border-width: 80%;
    transition: transform .3s ease-in-out;
}

.service-box img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.service-box .text h3 {
    font-size: 17px;
    color: #333;
    padding-bottom: 10px;
    font-family: "GothamProRegular";

}

.service-box .text p {
    
    color: #333;
font-size: 13px;
font-family: "GothamProRegular";


    
}

/* Responsive Styles */
@media (max-width: 768px) {
    .service-box {
        flex-direction: column;
        text-align: center;
    }

    .service-box img {
        margin-bottom: 10px;
    }

    .tab {
        font-size: 28px;
    }
    .services-expertise{
        margin-top: -150px;
    }
}

@media (max-width: 480px) {
    .tab {
        font-size: 28px;
    }
}


/* General Styles */
.case-studies {
    text-align: center;
    padding: 50px 70px;
    background: #fff;
}
.section-header{
    max-width: 900px;
    align-items: left;
    justify-content: left;

}
.section-header h2 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}
.section-header span{
    font-family: var(--bold-font);
}

.section-header h2 span {
    color: var(--secondary-color);
}

.section-header p {
    max-width: 700px;
    margin: 0 auto 20px;
    color: #333;
    text-align: left;
    padding-bottom: 20px;
    font-size: 15px;
    font-family: "GothamProRegular";

}

.cta-button {
    display: inline-block;
    padding: 16px 20px;
    background: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
    margin: 0;
    text-align: left;
    font-family: var(--medium-font);
    margin-left: -110px;
}

.cta-button:hover {
    background: var(--primary-color);
}

/* Case Grid */
.case-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 80px;
    margin-top: 30px;
}

/* Case Item */
.case-item {
    position: relative;
    overflow: visible;
    border-radius: 0px;
}

.case-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    overflow: visible;
    opacity: 0.8;
    filter: blur(0px) brightness(70%);
}

.case-item:hover img {
    transform: scale(1.1);
    opacity: 1;
    filter: brightness(100%);
}

/* Case Info */
.case-info {
    position: absolute;
    bottom: -10px;
    left: -10px;
    background: rgb(253, 252, 252);
    padding: 15px;
    padding-bottom: 50px;
    text-align: left;
    max-width: 80%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 2000;
}
.case-info:hover{
    transform: scale(1.1);
}
.country {
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-color);
    font-family: var(--bold-font);
}

.case-info h3 {
    font-size: 16px;
    margin: 5px 0;
    color: #252525;
}

.category {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .case-info {
        bottom: -10px;
        left: -10px;
        padding: 10px;
        max-width: 90%;
    }

    .case-info h3 {
        font-size: 15px;
    }
    .case-studies{
        padding: 20px;
    }
    .country{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .section-header h2 {
        font-size: 24px;
    }

    .case-info {
        padding: 8px;
        bottom: -10px;
        left: -10px;
        padding-bottom: 30px;
    }

    .case-info h3 {
        font-size: 15px;
    }
    .cta-button{
        margin-left: 0px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}

/* Testimonials Section */
.testimonials {
    position: relative;
    text-align: center;
    padding: 60px 20px;
    background: #fff;
    overflow: hidden;
    padding-top: 150px;

}

/* Background Elements */
.background-elements {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.globe {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 500px;
    opacity: 1;
}

.dots {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 200px;
    height: 200px;
    background: url('') no-repeat;
    opacity: 0.3;
}

/* Section Header */
.testimonials.section-header h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonials.section-header h2 span {
    color: var(--secondary-color);
}

.section-header p {
    max-width: 700px;
    margin: 0 auto 30px;
    color: ;
}

/* Testimonial Slider */
.testimonial-slider {
    position: relative;
    max-width: 1476px;
    padding: 0 15px;
    margin: auto;
    overflow-x: visible;
    padding-top: 30px;
    padding: 60px;
}

.testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
    gap: 30px;
    height: fit-content;
    overflow-x: visible ;
}

.testimonial {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 550px;
    z-index: 100;
    height: 250px;
}

.testimonial img {
    width: 120px;
    height: 120px;
    margin-right: 15px;
margin-top: -50px;
}

.testimonial-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.position {
    font-size: 14px;
    color: #666;
}

/* Slider Dots */
.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 60px;
    margin-left: -630px;
}

.dot {
    width: 100px;
    height: 5px;
    background: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: #111;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .globe, .dots {
        display: none;
    }

    .testimonial {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        max-width: 350px;
    }

    .testimonial img {
        margin-bottom: 10px;
    }

    .testimonial-container {
        width: 400%;
        margin: 0 auto;
    }
    .testimonial-slider{
        padding: 0px;
    }

    .testimonial {
        flex: 0 0 100%;
    }
    .slider-dots{
        margin-left: -50px;
    }
    .lefty{
        flex-direction: column;
    }
}

.lefty{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;

}
.headertt{

}
.headertt .names{
    padding-bottom: 5px;
    font-family: var(--text-font);
    font-size: 25px;
    color: #3b3b3b;


}
.headertt p{
    font-size: 16px;
    font-family: var(--bold-font);
    color: var(--secondary-color);
}
.conte{
    width: 100%;
    color: #333;
    font-size: 12px;
    font-family: "GothamProRegular";
    line-height: 1.4;

}
@media (max-width: 768px){
    .lefty{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lefty img{
        margin-top: -40px;
        
    }
    .testimonial{
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        text-align: center;
    }
    .headertt .names{
        margin-top: -20px;
        margin-bottom: -5px;

    }
    .conte{
        padding-top: 17px;
    }
    
}
.global{
    width: 60%;
    margin-left: 900px;
    z-index: 0;
    height: 1900px;
}

.testimonials .section-head p{
    text-align: left;
    max-width: 600px;
    font-family: "GothamProRegular";

    color: #333;
    font-size: 14px;
}
.testimonials .section-head{
    padding-left: 60px;
}
.section-head h2{
text-align: left;
padding-bottom: 20px;
font-size: 45px;
color: #252525;
}
.section-head span{
    color: var(--secondary-color);
    font-family: var(--bold-font);
}
@media (max-width: 768px){
    .testimonials .section-head{
        padding-left: 0px;
        margin: 0 auto;
    }
}

.featured-content {
    text-align: left;
    padding: 50px 5%;
    position: relative;
}

.featured-content h2 {
    font-size: 36px;
    padding-bottom: 25px;
}
.featured-content strong{
    font-family: var(--bold-font);
}
.blog-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    align-items: center;
}

.blog-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.blog-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
}

.blog-card {
    flex: 0 0 33.33%;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}

.blog-card img {
    width: 100%;
    padding: 0px;
    opacity: 0.8;
    filter: blur(0px) brightness(70%);


}

.blog-card h3 {
    font-size: 1rem;
    margin: 10px 0;
    padding: 15px;
    color: #333;
    font-family: var(--bold-font);
    text-align: left;
    margin-bottom: -20px;
}

.blog-card a {
    color: #fd5a0f;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    text-align: left;
    margin: 0;
    display: block;
    padding: 15px;
}

.slide-dots {
    text-align: center;
    margin-top: 15px;
}

.slide-dots .dott {
    width: 12px;
    height: 12px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.slide-dots .dott.active {
    background: #333;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .blog-card {
        flex: 0 0 100%;
    }
    .blog-slider{
        overflow: hidden;
        width: 100%;
    }
}
